<div class="row">
  <div class="col s6 m6">
    <div class="card white darken-1">
      <div class="card-content white-text">
        <span class="card-title black-text">What to do once you've been bitten</span>
          <p> 1. Figure out if the bastard is venomous</p>
          <p> 2. If venomous call 911. NOW. </p>
          <p> 3. Don't Freak the Fuck Out--aka don't start screaming and limit movement </p>
          <p> 4. If you're wearing skinny jeans or other tight hipster shit remove them</p>
          <p> 5. Let that fucker bleed for 1/2 a minute then dress it</p>
          <p> 6. Keep track of your vitals and your symptoms (if you can see three of your partner that's bad)</p>
          <p> 7. Grab a sharpie or pen and draw a circle around the area you were bitten. Redraw the circle to encompass effected area (parts of your body that have swollen up or changed color) every 20 minutes; let's doctor's gauge how fast shit is spreading </p>
          <p>8. Elevate effected area</p>
      </div>
      <div class="card-action">
        <a href="http://www.wildbackpacker.com/wilderness-survival/articles/treating-a-snake-bite/">Dumbass Backpackers</a>
      </div>
    </div>
  </div>
  <div class="col s6 m6">
    <div class="card white darken-1">
      <div class="card-content white-text">
        <span class="card-title black-text">Shit You Shouldn't Do</span>
          <p> 1. Don't try to suck out the venom -you are not fucking Indiana Jones</p>
          <p> 2. Don't put ice on it </p>
          <p> 3. If you can't use a knife on a good day, don't try to carve out the bite</p>
          <p> 4. Limit physical movement/strain</p>
          <p> 5. Don't chug a redbull or do any shots, caffeine and alcohol can impair metabolism/speed up rate your body processes the venom</p>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card white darken-1">
      <div class="card-content white-text">
        <span class="card-title black-text">Fuck, I can't reach a Doctor</span>
        <p> 1. Calm the fuck down.</p>
        <p> 2. Don't Freak the Fuck Out--aka don't start screaming and limit movement </p>
        <p> 3. If you're wearing skinny jeans or other tight hipster shit remove them</p>
        <p> 4. Let that fucker bleed for 1/2 a minute then dress it</p>
        <p> 5. Keep track of your vitals and your symptoms (if you can see three of your partner that's bad)</p>
        <p> 6. Grab a sharpie or pen and draw a circle around the area you were bitten. Redraw the circle to encompass effected area (parts of your body that have swollen up or changed color) every 20 minutes; let's doctor's gauge how fast shit is spreading </p>
        <p> 7. Elevate effected area
      </div>
      <div class="card-action">
        <a href="http://www.ems1.com/health-and-wellness/articles/1051983-The-EMS-guide-to-treating-snakebites/">EMS Guide to Treating Bites</a>
        <a href="http://www.flotography.com/what-to-do-when-a-snake-bites-you-on-a-remote-trail/">Wilderness Trail Guide</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
      <div class="card white darken-1">
      <div class="card-content white-text">
        <span class="card-title black-text">How Fucked Am I?</span>
        <p> You're Chill :(Local) Swelling, skin reddening, and/or bruising confined to the bite site</p>
        <p> Shit's Starting to Get Real:Swelling is spreading, skin's changing color beyond initial bite,mild symptoms similar to the flue(nausuea, low blood pressure, slight dizziness)  </p>
        <p> Your Ass Needs to Be in the ER: RAPID swelling and color change that effects entire extremity/limb, weird/abnormal bleeding (hemoraging or weird coagulation), fluttering eyelids, lost of conciousness,  systolic blood pressure (upper number) < 80 mm Hg;</p>
      </div>
      <div class="card-action">
        <a href="http://www.thedoctorwillseeyounow.com/content/emergencies/art3021.html">Doctors' Gauge of Fucked</a>
      </div>
    </div>
  </div>
</div>
