<%= simple_form_for(@snake) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  </div>
  <form action="#">
    <p>
      <input type="checkbox" id="test5" />
      <label for="test5">Red</label>
    </p>
    <p>
      <input type="checkbox" id="test6" />
      <label for="test6">Yellow</label>
    </p>
    <p>
      <input type="checkbox" id="test7" />
      <label for="test7">Green</label>
    </p>
    <p>
      <input type="checkbox" id="test8" />
      <label for="test8">Brown</label>
    </p>
    <p>
      <input type="checkbox" id="test9" />
      <label for="test9">Orange</label>
    </p>
    <p>
      <input type="checkbox" id="test10" />
      <label for="test10">White</label>
    </p>
    <p>
      <input type="checkbox" id="test11" />
      <label for="test11">Black</label>
    </p>
    <p>
      <input type="checkbox" id="test12" />
      <label for="test12">Blue</label>
    </p>
    <p>
      <input type="checkbox" id="test13" />
      <label for="test13">Green</label>
    </p>
  </form>

  <div class="form-inputs">
    </div>
  <form action="#">
    <p>
        <input type="checkbox" id="test14" />
        <label for="test14">Stripe Pattern</label>
    </p>
     <p>
        <input type="checkbox" id="test15" />
        <label for="test15">Solid Color Pattern</label>
    </p>
     <p>
        <input type="checkbox" id="test16" />
        <label for="test16">Blotch Pattern</label>
    </p>
     <p>
        <input type="checkbox" id="test17" />
        <label for="test17">Band Pattern</label>
    </p>
    </form>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
