
  <div class= "row">
    <div class="red_method">
      <%= link_to 'red', match_red_snake_path(@current_id), method: :patch %>
    </div>

*possibly add toggle*

<div class="form-inputs">
  </div>
  <form action="#">
    <p>
      <input type="checkbox" id="red" />
      <%= link_to 'red', match_red_snake_path(@current_id), method: :patch %>
      <label for="red">Red</label>
    </p>
    <p>
      <input type="checkbox" id="yellow" />
      <label for="yellow">Yellow</label>
    </p>
    <p>
      <input type="checkbox" id="green" />
      <label for="green">Green</label>
    </p>
    <p>
      <input type="checkbox" id="brown" />
      <label for="brown">Brown</label>
    </p>
    <p>
      <input type="checkbox" id="orange" />
      <label for="orange">Orange</label>
    </p>
    <p>
      <input type="checkbox" id="white" />
      <label for="white">White</label>
    </p>
    <p>
      <input type="checkbox" id="black" />
      <label for="black">Black</label>
    </p>
    <p>
      <input type="checkbox" id="blue" />
      <label for="blue">Blue</label>
    </p>
    <p>
      <input type="checkbox" id="green" />
      <label for="green">Green</label>
    </p>
  </form>

  <div class="form-inputs">
    </div>
  <form action="#">
    <p>
        <input type="checkbox" id="stripe_pattern" />
        <label for="solid_pattern">Stripe Pattern</label>
    </p>
     <p>
        <input type="checkbox" id="solid_pattern" />
        <label for="solid_pattern">Solid Color Pattern</label>
    </p>
     <p>
        <input type="checkbox" id="blotch_pattern" />
        <label for="blotch_pattern">Blotch Pattern</label>
    </p>
     <p>
        <input type="checkbox" id="band_pattern" />
        <label for="band_pattern">Band Pattern</label>
    </p>
    </form>
  <div class="form-actions">
