<p id="notice"><%= notice %></p>
<div class="titles">

<h1>Austin Snakes</h1>
<h3>Venomous Snakes</h3>
</div>

<div class="snakeimage">
  <div class="row">
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/westerncottonmouth3.jpg">
          <span class="card-title">Western Cotton Mouth</span>
        </div>
        <div class="card-content">
          <p>Symptoms: </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/texascoral2.jpg">
          <span class="card-title">Coral Snake</span>
        </div>
        <div class="card-content">
          <p>Symptoms: </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/broadbandedcopperhead3.jpg">
          <span class="card-title">Broadbanded Copperhead</span>
        </div>
        <div class="card-content">
          <p>Symptoms: </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/canebrake.jpg">
          <span class="card-title">Canbrake</span>
        </div>
        <div class="card-content">
          <p>Symptoms: </p>
        </div>
      </div>
    </div>
   <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/westerndiamondbackrattle4.jpg">
          <span class="card-title">Western Diammondback Rattler</span>
        </div>
        <div class="card-content">
          <p>Symptoms: </p>
        </div>
      </div>
    </div>
  </div>

  <h3> Non-Venomous Snakes </h3>
  <div class="row">
     <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/roughgreen3.jpg">
          <span class="card-title">Rough Green</span>
        </div>
        <div class="card-content">
          <p>Name: Rough Green  </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/plainsblind2.jpg">
          <span class="card-title">Plainsblind </span>
        </div>
        <div class="card-content">
          <p>Name: Plainsblind  </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/yellowbellyracer3.jpg">
          <span class="card-title">Yellow Belly Racer</span>
        </div>
        <div class="card-content">
          <p>Name: Yellow Belly Racer </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/roughearth.jpg">
          <span class="card-title">Rough Earth</span>
        </div>
        <div class="card-content">
          <p>Name: Rough Earth  </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/texasbrown2.jpg">
          <span class="card-title">Texas Brown</span>
        </div>
        <div class="card-content">
          <p>Name: Texas Brown </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/westerncoachwhip3.jpg">
          <span class="card-title">Western Coach Whip</span>
        </div>
        <div class="card-content">
          <p>Name: Western Coach Whip </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/redstripedribbon.jpg">
          <span class="card-title">Red Striped Ribbon</span>
        </div>
        <div class="card-content">
          <p>Name: Red Striped Ribbon </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/lined3.jpg">
          <span class="card-title">Lined</span>
        </div>
        <div class="card-content">
          <p>Name: Lined </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/diamondbackwater6.jpg">
          <span class="card-title">Diamondback Water</span>
        </div>
        <div class="card-content">
          <p>Name: Diamond BackWater </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/texasrat6.jpg">
          <span class="card-title">Texas Rat</span>
        </div>
        <div class="card-content">
          <p>Name: Texas Rat </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/easternhognose6.jpg">
          <span class="card-title">Eastern Hognose</span>
        </div>
        <div class="card-content">
          <p>Name: Eastern Hognose </p>
        </div>
      </div>
    </div>
   <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/blotchedwater4.jpg">
          <span class="card-title">Blotched Water</span>
        </div>
        <div class="card-content">
          <p>Name: Blotched Water </p>
        </div>
      </div>
    </div>
   <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/greatplainsrat.jpg">
          <span class="card-title">Great Plainsrat</span>
        </div>
        <div class="card-content">
          <p>Name: Great Plainsrat </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/bull3.jpg">
          <span class="card-title">Bull</span>
        </div>
        <div class="card-content">
          <p>Name: Bull </p>
        </div>
      </div>
    </div>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/prairieking2.jpg">
          <span class="card-title">Prarie King</span>
        </div>
        <div class="card-content">
          <p>Name: Prarie King </p>
        </div>
      </div>
    </div>
  </div>
</div>



