<p id="notice"><%= notice %></p>

<h1>Austin Snakes</h1>

<h3>Venomous Snakes</h3>
<div class="snakeimage">
<div class="row">
  <div class="col s6 l4">
    <div class="card">
      <div class="card-image">
        <img src="http://www.austinreptileservice.net/image/westerncottonmouth3.jpg">
        <span class="card-title">Western Cotton Mouth</span>
      </div>
      <div class="card-content">
        <p>Symptoms: </p>
      </div>
    </div>
  </div>


    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/texascoral2.jpg">
          <span class="card-title">Coral Snake</span>
        </div>
        <div class="card-content">
          <p>Symptoms: </p>
        </div>
      </div>
    </div>

    <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/broadbandedcopperhead3.jpg">
          <span class="card-title">Broadbanded Copperhead</span>
        </div>
        <div class="card-content">
          <p>Symptoms: </p>
        </div>
      </div>
    </div>

 <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/canebrake.jpg">
          <span class="card-title">Canbrake</span>
        </div>
        <div class="card-content">
          <p>Symptoms: </p>
        </div>
      </div>
    </div>
   <div class="col s6 l4">
      <div class="card">
        <div class="card-image">
          <img src="http://www.austinreptileservice.net/image/westerndiamondbackrattle4.jpg">
          <span class="card-title">Canbrake</span>
        </div>
        <div class="card-content">
          <p>Symptoms: </p>
        </div>
      </div>
    </div>

  </div>
</div>

