<p id="notice"><%= notice %></p>

<h1>Austin Snakes</h1>
<div class="row">
<div class="col s3 m4">

<% @snakes.each do |snake| %>
  <li>
    <div class='snake'>
     <%= image_tag snake.image %>
  <div class="col s3 m4">
     <div class='info'>
       <%= [snake.name, snake.venom].join %>

       </div>
    </div>
  </li>
<% end %>
</ul>
<br>

<%= link_to 'Snakes', new_snake_path %>
