<h1>Snakes</h1>
<p> Please select the corresponding colors and patterns. You must choose atleast one pattern and one color to find your snake </p>

<%= render 'form' %>

<%= link_to 'Snake', snakes_path %>

