  <div class="row">
        <div class="col s12 m12 l12">
          <div class="card">
           <div class="card large">
            <div class="card-image">
              <%=image_tag "road.jpg" %>
              <span class="card-title">Not All Who Wander Are Lost</span>
            </div>
            <div class="card-content">
              <p> Hey guys, my name is Tiffany, and I created WILD SOS(formerly known as SOMFS) because I felt there was a large disparity between the amount of awesome apps availabe and the amount of awesome outdoors apps. Why do I care about awesome outdoors apps that identify venomous critters? Wellp, that's because I'm one of the dumbasses that got bitten by aforementioned venomous critters. Last year I went backpacking in Costa Rica and manged to get bitten by a Brazilian Wandering Spider (cool story, I didn't known what type of spider bit me until this project). I remember killing the little bastard and then having a...less than stellar reaction: vertigo, stifness of joints, intense pain, shivering, ...possibly shock? Either way, I thought. Wow, you know what I would like? A motherfucking app that told me what the hell bit me. I looked up apps...and the results were ...less than spectacular. As nice as it is to know about the habitat of animals, I want to know if the little shits are going to off me. Thus, WILD SOS was born. I will be updating this app constantly. So be sure to check back every now and then. Right now it just covers spiders and snakes within the Austin area, but I hope to expand it to the rest of the Americas. If you have any comments/feedback you can send it to my email: tclewis91@gmail.com. Stay safe and don't land in the hospital!
            </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
