@import "materialize";
@import url(http://fonts.googleapis.com/css?family=Dosis:500|Open+Sans);
html {
    font-family: 'Dosis', sans-serif;
  }

footer {
position: fixed;
left: 0px;
bottom: 0px;
width: 100%;
color: white;
background-color: #747222 !important;
text-align: center;
}


body {
background-color: #222A36;
color: white;
text-align: center;
}

.loginz {
  padding-top: 15px;
}
.nav-wrapper {
  background-color: #747222;
}

.containerz {
  max-width: 310px;
  margin: 0 auto;
  max-height: auto !important;

}
.img{
  max-width: 100%;
  max-height: 40px;
}
.btn-default{
background-color: #264556 !important;
}

.posts.post.title {
  color: #264556 !important;
}

.card-content {
color: black !important;
height: auto !important;
text-align: left;

}
.card-image{
    position: relative !important;
    width: 100% !important;
    height: 45% !important;
    background-size: cover !important;
    overflow: hidden !important;
    font-family: 'Dosis', sans-serif;
}
.card{
  background-size: cover !important;
  position: relative !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important;
  height: auto;
  font-family: 'Open Sans', sans-serif;
}
.card-title{
  font-family: 'Dosis', sans-serif !important;
}

.card-action{
font-family: 'Dosis', sans-serif !important;
}
.ntcs {
  color: black !important;
  text-align: left;
  padding-top: 20px !important;
}
