@import "materialize";
@import url(http://fonts.googleapis.com/css?family=Dosis:500|Open+Sans);
html {
    font-family: 'Dosis', sans-serif;
  }

footer {
position: fixed;
left: 0px;
bottom: 0px;
width: 100%;
color: white;
background-color: #558b2f;
text-align: center;
}

body {
background-color: #222A36;
}

header {
  background-color: #558b2f ;
}
