.svg-icons {
 position: relative;
 height: 1px;
 max-width: 20%;
 padding: 0;
 padding-bottom: 10%;
 /* override this inline for aspect ratio other than square */
}
.scaling-svg {
 position: absolute;
 height: 10%;
 width: 10%;
 left: 0;
 top: 0;
}


@media screen and (max-width: 310px){
  .svg-icons{
    width: 40%;
  }
}
